
@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<!-- Mirrored from www.zi-han.net/theme/hplus/calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:44 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>shouye </title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/content/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/content/css/plugins/iCheck/custom.css" rel="stylesheet">

    <link href="/content/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="/content/css/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet">

    <link href="/content/css/animate.min.css" rel="stylesheet">
    <link href="/content/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none !important;
        }
        #tips {
            position: absolute;
            background-color: #fff;
            color: inherit;
            padding: 4px 6px;
            border: 1px solid #1ab394;
            border-radius:1px;
            font-size: .85em;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content" id="main">
        <div class="row animated fadeInDown">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div id='external-events'>
                            @Html.DropDownList("MemberSel", (IEnumerable<SelectListItem>)ViewBag.UserList,
         new Dictionary<string, object>() {
                                { "class", "show-tick form-control" }
         }
     )
                            @*<button type="button" class="btn btn-primary btn-sm"
                v-on:click="checkMember(item,'search')"
                style="margin:5px" v-cloak v-for="item in UserList">
            <i class="fa fa-check" v-if="item.Checked"></i>
            <span>{{item.Name}}</span>
        </button>
        <input type="hidden" id="checkMember" />*@
                        </div>
                    </div>
                    <div class="ibox-title">
                        <h5>我的面板</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-wrench"></i>
                            </a>
                            @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="calendar.html#">选项1</a>
                                </li>
                                <li>
                                    <a href="calendar.html#">选项2</a>
                                </li>
                            </ul>*@
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id='external-events'>
                            @*<p>我的工单</p>*@
                            <div class='external-event navy-bg'
                                 v-cloak v-for="item in WorkItemList"
                                 :data-id="item.Id" :data-type="item.Type" :data-workName="item.WorkName"
                                 @*v-on:mouseover="changeActive($event,item.WorkName)"
                                 v-on:mouseout="removeActive($event)"*@>{{item.Name}}-{{item.Infos}}</div>
                            @*<div class='external-event navy-bg'>各部门职责及分工</div>
                            <div class='external-event navy-bg'>案例分享</div>
                            <div class='external-event navy-bg'>xxx</div>*@
                            @*<p class="m-t">
                    <input type='checkbox' id='drop-remove' class="i-checks" checked />
                    <label for='drop-remove'>移动后删除</label>
                </p>*@
                        </div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        @*<h2>FullCalendar</h2> 、*@
                        只显示所选中人已分配的并未进日历的工单
                        @*<p>
                            <a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar开发文档</a>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>我的工单日历 </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                @*<li>
                                    <a href="calendar.html#">选项1</a>
                                </li>
                                <li>
                                    <a href="calendar.html#">选项2</a>
                                </li>*@
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="tips"></div>

    <script src="/content/js/jquery.min.js?v=2.1.4"></script>
    <script src="/content/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/content/js/content.min.js?v=1.0.0"></script>
    <script src="/content/js/jquery-ui.custom.min.js"></script>
    <script src="/content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/content/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="/Content/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Content/js/ajax.js"></script>
    <script src="/Content/js/plugins/layer/layer.min.js"></script>
    <script src="/Content/js/plugins/vue/vue.min.js"></script>
    <script>
        var v = new Vue({
        el: "#main",
            data: {
                UserList: [],
                CheckedMember: "",
                WorkItemList:[]
        },
        created: function () {
            this.getWorkItem();
        },
        watch: {
            CheckedMember(val, oldval) {
                var $this = this;
                //console.log('val:' + val + ',old:' + oldval);
                $('#checkMember').val(val);
                Search();
                $this.getDetail(val);
            },
            WorkItemList: function () {
                this.$nextTick(function () {

                    $("#external-events div.external-event").each(function () {
                        var d = { title: $.trim($(this).text()), id: $(this).attr("data-id"), type: $(this).attr("data-type"), desc: $(this).attr("data-workName") };
                        $(this).data("eventObject", d);
                        $(this).draggable({ zIndex: 999, revert: true, revertDuration: 0 })
                    });
                })

            }
        },
            methods: {
                changeActive($event,desc) {
                    $("#tips").text(desc);
                    $('#tips').css('left', $event.pageX);
                    $('#tips').css('top', $event.pageY);
                    $('#tips').show();
                    //console.log($event)
                //$event.currentTarget.className = "active";
            },
            removeActive($event) {
                //$event.currentTarget.className = "";
            },
            getUser: function () {
                var $this = this;
                var url = "@Url.Action("GetMyUser")";
                var Data = {};
                ajaxGet.post(Data, url, function (json) {
                    if (json.IsSuccess) {
                        //$this.UserList = json.Data;
                        var addUser = [];
                        for (var i = 0; i < json.Data.length; i++) {
                            addUser.push({ Name: json.Data[i].Name, Checked: true, UserName: json.Data[i].UserName });
                        }
                        //console.log(addUser);
                        $this.UserList = addUser;
                    }
                    else {
                    }
                }, function (data) {
                    ExceptionDeal(data);
                })
            },
            checkMember: function (item, type) {
                item.Checked = !item.Checked;
                var $this = this;
                if (type == 'search') {
                    if (item.Checked) {
                        $this.CheckedMember += item.UserName + ",";
                    }
                    else {
                        $this.CheckedMember = $this.CheckedMember.replace(item.UserName + ",", "");
                    }
                }
            },
            getWorkItem: function () {
                var $this = this;
                var url = "@Url.Action("getCalWorkItem")";
                var Data = {};
                Data.UserName = $('#MemberSel').val();
                ajaxGet.post(Data, url, function (json) {
                    if (json.IsSuccess) {
                        //console.log(json);
                        //for (var i = 0; i < json.Data; i++) {
                        $this.WorkItemList = json.Data;
                        //console.log($this.WorkItemList)
                        //}
                    }
                    else {
                    }
                }, function (data) {
                    ExceptionDeal(data);
                })
            }
        }
    });

        function getLocalTime(nS) {
            return new Date(parseInt(nS)).toLocaleString().replace(/:\d{1,2}$/, ' ');
        }
        var b = new Date();
        var c = b.getDate();
        var a = b.getMonth();
        var e = b.getFullYear();

        $(document).ready(function () {
            $('#MemberSel').change(function () {
                $("#calendar").fullCalendar('refetchEvents');
                v.getWorkItem();
            });

            $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", });
            $("#external-events div.external-event").each(function () {
                var d = { title: $.trim($(this).text()),id:$(this).attr("data-id") };
                $(this).data("eventObject", d);
                $(this).draggable({ zIndex: 999, revert: true, revertDuration: 0 })
            });
           
            $("#calendar").fullCalendar(
                {
                    header: { left: "prev,next", center: "title", right: "month,agendaWeek,agendaDay" },
                    editable: true,
                    droppable: true,
                    drop: function (g, h) {
                        //console.log(h);
                        var f = $(this).data("eventObject");
                        var d = $.extend({}, f);
                        d.start = g;
                        d.allDay = h;
                        $("#calendar").fullCalendar("renderEvent", d, true);
                        //if ($("#drop-remove").is(":checked")) {
                        $(this).remove();
                        var date = $.fullCalendar.formatDate(g, "yyyy-MM-dd");
                        var id = f.id;
                         var url = "@Url.Action("SetCalWorkItem")";
                        var Data = {};
                        Data.StartDate = date;
                        Data.id = id;
                        Data.Type = f.type;
                        Data.IsModify = false;
                        Data.userId = $("#MemberSel").val();
                        ajaxGet.post(Data, url, function (json) {
                            if (json.IsSuccess) {
                                
                            }
                            else {
                            }
                        }, function (data) {
                            ExceptionDeal(data);
                        });
                        //}
                    },
                    eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
                        //拖动时间
                        //console.log($.fullCalendar.formatDate(event.start, "yyyy-MM-dd"));
                        //console.log(event);
                          var url = "@Url.Action("SetCalWorkItem")";
                        var Data = {};
                        Data.StartDate = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd");
                        Data.id = event.id;
                        Data.Type = event.type;
                        Data.IsModify = true;
                        Data.userId = $("#MemberSel").val();
                        ajaxGet.post(Data, url, function (json) {
                            if (json.IsSuccess) {
                                
                            }
                            else {
                            }
                        }, function (data) {
                            ExceptionDeal(data);
                        });
                    }
                    , events: function (start, end, callback) {
                        //console.log(getLocalTime(Date.parse(start)))
                        //console.log(end)
                        // start = start.getFullYear() + "-" + (start.getMonth() - 1) + "-" + start.getDate();
                        //end = end.getFullYear() + "-" + (end.getMonth()  1) + "-" + end.getDate();
                        ajaxGet.post({
                            Start: getLocalTime(Date.parse(start)), End: getLocalTime(Date.parse(end)),
                            UserName: $('#MemberSel').val()
                        }, "/admin/MyCalendar", function (data) {
                            var json = data.Data;
                            var events = [];
                            for (var i = 0; i < json.length; i++) {
                                events.push({
                                    id: json[i].PId,
                                    type:json[i].Type,
                                    desc: json[i].UserName+ '-'+ json[i].Description,
                                    title: json[i].Title,
                                    start: ChangeDt(json[i].StartDate),
                                    end: ChangeDt(json[i].EndDate)
                                });
                            }
                            callback(events);
                        }, function () {
                        })

                    },
                    //当点击某一个事件时触发此操作
                    eventClick: function (calEvent, jsEvent, view) {
                        //alert('Event: ' + calEvent.title);
                        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                        //alert('View: ' + view.name);
                        //// change the border color just for fun
                        //$(this).css('border-color', 'red');
                    },
                    //当鼠标悬停在一个事件上触发此操作
                    eventMouseover: function (event, jsEvent, view) {
                        //fc-event-title
                        //console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                        $("#tips").text(event.desc);
                        $('#tips').css('left', jsEvent.pageX);
                        $('#tips').css('top', jsEvent.pageY);
                        $('#tips').show();
                        //layer.tips('下', '#' + event.id);
                        //layer.msg('玩命提示中');
                        //console.log(event);
                        //console.log(jsEvent);
                    },
                    eventMouseout: function (event, jsEvent, view) { $('#tips').hide(); }
                })
        });
    </script>
</body>
</html>
